@{
    ViewBag.Title = "Home Page";
}

<div class="panel-heading">
    <h1>NHCC Service Tracker Prototype</h1>
    <p class="lead">Go ahead...volunteer...make my day!</p>
    <p><a href="http://newhopechristianchurch.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Blah blah blah about the church or something
        </p>
        <p><a class="btn btn-default" href="http://newhopechristianchurch.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Local Opportunities</h2>
        <p>Local mission opportunities.</p>
        <p><a class="btn btn-default" href="http://newhopechristianchurch.com/missions">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Missions</h2>
        <p>Mission opportunities not in the Bartlett area.</p>
        <p><a class="btn btn-default" href="http://newhopechristianchurch.com/missions">Learn more &raquo;</a></p>
    </div>
</div>